@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

:host {
    font-family: 'Roboto Slab', serif;
    background: #BFDBFE;
}

/* All headings (h1-h6) use the 'Inter' font */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
}

.center {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FBCFE8;
}

.icon {
    background: white;
    border-radius: 99999px;
    padding: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.header {
    font-weight: 700;
    font-size: 16px;
    font-family: "Inter var",
        ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    line-height: -0.05em;
    text-align: center;
    word-break: break-word;
    letter-spacing: -0.025em;
    margin-bottom: 8px;
    color: rgb(17, 24, 39);
}

.subheader {
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(75, 85, 99);
    text-align: center;
}